.logo_place_header {
  background-image: url("../../../images/logo_place_header.svg");
  background-repeat: no-repeat;
  height: 32px;
  z-index: 4;
  top: 30px;
  left: 64px;
  position: absolute;
}
